/* Import */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&family=Great+Vibes&family=Raleway:ital,wght@0,200;1,200&display=swap");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {

	background-image: ;
	font-family: "Secular+One", sans-serif;
	font-size:17x;
	margin: 0px;
	text-align: justify;
}

h2 {
	font-size: 30px;
	text-align: center;
}

h3 {
	font-family: 'Cormorant', serif;
	margin: 15px;
	text-align: center;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-size:75px;
	font-weight:700;
	letter-spacing:revert-layer;
	margin: 20px;

}

h2 {

	font-size:35px;
	font-weight:400;

}

a {
	text-decoration:none;
	color:darkgreen;
	font-weight:bold;
}
a:hover {
	color:rgb(50,50,50);
}




