.banner {
	background-size: cover;
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%), url(../../images/mariage.jpg);
	background-position: center;
	text-emphasis: bold;
	padding:150px 0px;
}

.banner h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;  
 }

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.75;
	margin-bottom: 40px;
}